*{
    background-color: rgb(213, 210, 195);
}
.name h1{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border: .5px solid;
    border-radius: 6px;
    background: rgb(240, 237, 178);
}

 .about-me{
    padding: 0px 0;
    float: right;
 }
 .about-me b{
    top: 0;
 }
.about-me p{
    width: 420px;
    text-align: left;
    margin: px; 
    float: right;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
    border-left: 0;
    border-right: 0;
    background: rgb(240, 237, 178);
}
.contact{
    padding: 10px 0px;
}
.list {
    padding: 10px 0;
    
}