*{
    background-color: rgb(175, 236, 149);
}
.name h1{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border: .5px solid;
    border-radius: 6px;
    background: rgb(240, 237, 178);
}
/* h1 {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    width: 50%;
} */
 .about-me{
    padding: 10px 0;
    left: 0px;
 }
.about-me p{
    width: 420px;
    text-align: left;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
    border-left: 0;
    border-right: 0;
    background: rgb(240, 237, 178);
}
.contact{
    padding: 10px 0px;
}
.list{
    padding: 10px 0;
}